.loader#loader.js-loader-result.center
	.container
		.center__wrap
			.loader__wrap
				.loader__block
					<svg  width="345" height="345" viewBox="0 0 345 345" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle class="animate" cx="172.5" cy="172.5" r="157.5" stroke-width="30"/>
					<defs>
					<linearGradient id="paint0_linear_484_262" x1="322.078" y1="310.324" x2="25.7114" y2="15.4279" gradientUnits="userSpaceOnUse">
					<stop stop-color="#3DA1DA"/>
					<stop offset="1" stop-color="#366CBD"/>
					</linearGradient>
					</defs>
					</svg>

					p.loader__percent.js-loader-percent 0%
				p.loader__text Составляем для вас индивидуальную программу