section.main.center#main
	.container-test
		.center__wrap
			h1.main__title.title-test Общемедицинская практика свидетельствует - до 66,8% заболеваний - психосоматические
			.main__desc.text-s
				p.main__text Они возникают вследствие стрессов, сильных потрясений, непрожитых эмоций. Но диагностировать их сразу непросто.
				p.main__text Хотите узнать, откуда берутся ваши болезни? Несколько простых вопросов помогут понять, какого рода ваши проблемы со здоровьем. Все эти вопросы можно относить не только к себе, но и к близкому человеку, ребенку. 
			button.main__btn.btn.js-start-test пройти тест
				img(src="img/svg/arrow_btn.svg", alt="arrow")
