section.result.js-result.center
	.container
		.center__wrap
			.result__content
				.result__left
					h2.result__title Программа
						span «Шифр к телу»
					p.result__desc.text-s помогло победить  гипертонию, язвенную болезнь, артрит, мигрень и многие другие заболевания у более чем
					p.result__info
						span 280 000
						| людей по всему миру
					p.result__text Мы понимаем, что у всех разные финансовые возможности, именно поэтому предлагаем вам самостоятельно выбрать справедливую цену!
					.result__main
						.result__top
							p.result__main-title.text-s Разработка индивидуальной программы на 7 дней нам обходится в 890 рублей. Но не всем это подходит финансово.
							p.result__main-text Выберите цену, которая не бьет по карману:
						.result__bottom
							.result__price
								p.result__price-item.active.js-price(data-type="1") 29₽
								p.result__price-item.js-price(data-type="2") 89₽
								p.result__price-item.js-price(data-type="3") 490₽
								p.result__price-item.js-price(data-type="4") 890₽
							a.result__btn(href="home.html") ВЫБРАТЬ
				.result__right
					picture
						source(type="image/webp" media="(min-width:1024px)" srcset="img/lamp-big.webp")
						source(media="(min-width:1024px)" srcset="img/lamp-big.png")
						source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
						img(alt="image" src="img/lamp-big.png")