.step__content-top.js-step(data-step="4")
	.step__content-left
		.step__title-wrap
			h2.step__title.title-test У вас есть проблемы со сном: долго засыпаете или наоборот, все время хотите спать?
		.step__questions
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text Да
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text НЕТ
	.step__content-right
		picture
			source(srcset="img/step-4.webp", type="image/webp")
			img(src="img/step-4.jpg", alt="step photo")