.step__content-top.js-step(data-step="8")
	.step__content-left
		.step__title-wrap
			h2.step__title.title-test Вы порой ощущаете тревогу, беспомощность, отчаяние и не знаете, что с этим делать?
		.step__questions
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text Да
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text НЕТ
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text Иногда
	.step__content-right
		picture
			source(srcset="img/step-8.webp", type="image/webp")
			img(src="img/step-8.jpg", alt="step photo")