.step__content-top.js-step(data-step="5")
	.step__content-left
		.step__title-wrap
			h2.step__title.title-test У вас есть симптомы заболевания, но врачи не могут помочь или затрудняются в диагнозе?
		.step__questions
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text Да
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text НЕТ
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text Иногда
	.step__content-right
		picture
			source(srcset="img/step-5.webp", type="image/webp")
			img(src="img/step-5.jpg", alt="step photo")