.step__content-top.js-step(data-step="7")
	.step__content-left
		.step__title-wrap
			h2.step__title.title-test Есть основания предполагать, что нервы, стресс или недосып может сказываться на вашем здоровье ?
		.step__questions
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text Да
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text НЕТ
			.question-point.step__question.js-question
				i.fico.fico-check
				p.question-point__text Иногда
	.step__content-right
		picture
			source(srcset="img/step-7.webp", type="image/webp")
			img(src="img/step-7.jpg", alt="step photo")