section.center.step#steps
	.container-test
		.center__wrap
			.step__content
				include step-1
				include step-2
				include step-3
				include step-4
				include step-5
				include step-6
				include step-7
				include step-8
				.step__content-bottom
					.step__progress
						include progress
					button.step__btn.btn.js-btn-text(disabled data-show="1") ДАЛЕЕ
