section.authors
	.authors__circle.authors__circle--blue
	.authors__circle.authors__circle--green
	.container
		h2.authors__title.title Авторы курса и уникальной методики по перенастройке мышления
		.authors__slider.js-authors-slider
			.authors__slide.author-slide.author-slide--main
				.author-slide__left
					h5.author-slide__title Дипломированные врачи высшей категории и психотерапевты. 
					p.author-slide__desc.text-s Мы создавали эту авторскую методику несколько лет и уже выпустили множество учеников, которые смогли изменить свою жизнь и избавиться от психосоматических заболеваний навсегда! Они помогли себе и своим близким при помощи главного - знаний, как работает наше тело и наша психика.
				.author-slide__photo
					picture
						source(type="image/webp" media="(min-width:480px)" srcset="img/authors.png")
						source(media="(min-width:480px)" srcset="img/authors.png")
						source(type="image/webp" media="(min-width:300px)" srcset="img/authors_mob.webp")
						source(media="(min-width:300px)" srcset="img/authors_mob.png")
						img(src="img/authors.png" alt="picture")
			.authors__slide.author-slide.author-slide--2.author-slide--person
				.author-slide__left
					h5.author-slide__title Олег Войткович
					p.author-slide__post 53 года, дипломированный психолог, тренер по программе оздоравливающего мышления, основатель Академии «Психосоматика - путь к здоровью». Создатель курса по психосоматике
					p.author-slide__text.text-s Мы создавали эту авторскую методику несколько лет и уже выпустили множество учеников, которые смогли изменить свою жизнь и избавиться от психосоматических заболеваний навсегда! Они помогли себе и своим близким при помощи главного - знаний, как работает наше тело и наша психика
				.author-slide__photo
					picture
						source(type="image/webp" media="(min-width:480px)" srcset="img/author_1.png")
						source(media="(min-width:480px)" srcset="img/author_1.png")
						source(type="image/webp" media="(min-width:300px)" srcset="img/author_1_mob.webp")
						source(media="(min-width:300px)" srcset="img/author_1_mob.png")
						img(src="img/author_1.png" alt="picture")
			.authors__slide.author-slide.author-slide--3.author-slide--person
				.author-slide__left
					h5.author-slide__title Полина Сенчева
					p.author-slide__post 44 года, физиолог-реабилитолог, выпускник Университета гештальт-терапии, 10 лет стажа в психотерапии. Изучала связь реабилитации после травм и операций и мышления.
					p.author-slide__text.text-s Я точно знаю, что мышечные зажимы, боль в спине, плечах и голове - это психосоматика. Болезни легких, часто даже аллергия и астма - тоже психосоматика. Бесполезно сдавать анализы и пить неработающие таблетки, пока вы не найдете причину в своей голове. И мы знаем, как ее найти!
				.author-slide__photo
					picture
						source(type="image/webp" media="(min-width:480px)" srcset="img/author_2.png")
						source(media="(min-width:480px)" srcset="img/author_2.png")
						source(type="image/webp" media="(min-width:300px)" srcset="img/author_2_mob.webp")
						source(media="(min-width:300px)" srcset="img/author_2_mob.png")
						img(src="img/author_2.png" alt="picture")
			.authors__slide.author-slide.author-slide--4.author-slide--person
				.author-slide__left
					h5.author-slide__title Артем Аверинцев
					p.author-slide__post кардиолог-ревматолог, психотерапевт, 38 лет практики, изучал связь кардиопатических состояний с психологическими факторами.
					p.author-slide__text.text-s Уверен - большинство болезней сердечно-сосудистой системы возникают из-за нашего образа мыслей и образа жизни. Для них нужно не пить лекарства, а менять себя. Это возможно и это работает.
				.author-slide__photo
					picture
						source(type="image/webp" media="(min-width:480px)" srcset="img/author_3.png")
						source(media="(min-width:480px)" srcset="img/author_3.png")
						source(type="image/webp" media="(min-width:300px)" srcset="img/author_3_mob.webp")
						source(media="(min-width:300px)" srcset="img/author_3_mob.png")
						img(src="img/author_3.png" alt="picture")
		.authors__form#order
			include form-banner
