section.benefits
	.container
		h2.benefits__title.title Что вы получаете?
		p.benefits__desc О нас в цифрах:
		.benefits__list
			.benefits__item.benefit
				p.benefit__main 280
					span тысяч
				p.benefit__desc учеников завершили курс. Доступ к 10&nbsp;занятиям плюс 2&nbsp;бонусных блока
			.benefits__item.benefit.benefit--reverse
				p.benefit__desc Совместный опыт авторов в&nbsp;психотерапии
				p.benefit__main 50
					span лет
			.benefits__item.benefit.benefit--big
				p.benefit__main 88
					span %
				p.benefit__desc учеников смогли избавиться от застарелых и&nbsp;хронических заболеваний!