section.composition#composition
	.container
		h2.composition__title.title Из чего состоит курс?
		.composition__desc
			p.composition__text
				span Вас ждет 10 интенсивов и аудио практик с домашними заданиями 
				| - это уроки по авторской методике, посвященные базовому разбору психосоматики.
			.composition__photo
				picture
					source(type="image/webp" media="(min-width:480px)" srcset="img/lamp.png")
					source(media="(min-width:480px)" srcset="img/lamp.png")
					source(type="image/webp" media="(min-width:300px)" srcset="img/lamp_mob.webp")
					source(media="(min-width:300px)" srcset="img/lamp_mob.png")
					img(src="img/lamp.png" alt="lamp")
			p.composition__text
				span К каждому уроку идет домашнее задание,
				|  которое поможет в проработке вас и выздоровлению.
		.composition__bottom.js-lessons
			.composition__lesson.lesson
				.lesson__top
					h4.lesson__title Новая парадигма здоровья
					p.lesson__label УРОК
				p.lesson__desc Как формируется психосоматический компонент? Что на это влияет? Как предотвратить? Что делать сейчас?
			.composition__lesson.lesson
				.lesson__top
					h4.lesson__title Почему эмоции переходят в тело и приводят к болезни?
					p.lesson__label УРОК
				p.lesson__desc Какие фазы проходит биологическая программа? Особенности развития по Фрейду. 
			.composition__lesson.lesson
				.lesson__top
					h4.lesson__title Дыхательная система и первый этаж биологии
					p.lesson__label УРОК
				p.lesson__desc Нос, аденоиды, гортань, бронхи, легкие. Что на них влияет и что с этим делать?
			.composition__lesson.lesson
				.lesson__top
					h4.lesson__title Новая парадигма здоровья
					p.lesson__label УРОК
				p.lesson__desc Как формируется психосоматический компонент? Что на это влияет? Как предотвратить? Что делать сейчас?
			.composition__lesson.lesson
				.lesson__top
					h4.lesson__title Почему эмоции переходят в тело и приводят к болезни?
					p.lesson__label УРОК
				p.lesson__desc Какие фазы проходит биологическая программа? Особенности развития по Фрейду. 
			.composition__lesson.lesson
				.lesson__top
					h4.lesson__title Дыхательная система и первый этаж биологии
					p.lesson__label УРОК
				p.lesson__desc Нос, аденоиды, гортань, бронхи, легкие. Что на них влияет и что с этим делать?
		button.composition__btn.btn.js-show-lessons посмотреть весь курс
			img(src="img/svg/arrow_btn.svg", alt="arrow")