section.information#information
	.information__circle.information__circle--blue
	.information__circle.information__circle--green
	.container
		h2.information__title.title Что такое психосоматика и&nbsp;почему это эффективно?
		.information__top
			.information__photo
				picture
					source(type="image/webp" media="(min-width:768px)" srcset="img/person.webp")
					source(media="(min-width:768px)" srcset="img/person.jpg")
					source(srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
					img(alt="image" src="img/person.jpg")
			.information__desc-wrap
				.information__desc
					p.information__text Наука известна с древних времен - о ней рассуждают Гиппократ, Аристотель и Платон.
					p.information__text.information__text--bold Среди известных приверженцев психосоматических теорий - Павлов, Фрейд, Луиза Хей, Франц Александер и многие другие.
				ul.information__list.list-efficiency.text-s
					li.list-efficiency__text.information__item-efficiency Нет ни одной болезни, которая была бы на 100% только телесная.
					li.list-efficiency__text.information__item-efficiency Положительные установки и лечение через мысли - работает.
					li.list-efficiency__text.information__item-efficiency Болезненные симптомы можно устранить психологической перенастройкой
		.information__bottom
			.information__bottom-left
				h3.information__subtitle Курс поможет вам узнать:
				.information__content
					p.information__content-text.text-s
						span Программа «Шифр к телу»
						|  - это система онлайн-уроков, которая состоит из 
						span 10 лекций и 10 практических домашних заданий,
						|  которые не только расскажут вам теорию, а так же сразу заставят действовать и двигаться в сторону здоровья.
					p.information__content-text.text-s И более 
						span 10 аудио практик,
						|  при помощи которых мы с вами все преодолеем.
				ul.information__list.list-content.text-s
					li.list-content__item.information__item
						span Как работать с&nbsp;телом
					li.list-content__item.information__item
						span Что делать с&nbsp;эмоциями
					li.list-content__item.information__item
						span Как убрать блоки и&nbsp;зажимы
			.information__bottom-right
				span ?
			button.information__btn.btn.js-scroll(data-target="#order") Записаться на курс