.menu-mobile#js-mobile-menu
	.menu-mobile__wrap
		.menu-mobile__top
			p.menu-mobile__logo «Шифр к телу»
			.burger.js-burger(data-target="#js-mobile-menu")
				span.burger__line
				span.burger__line
				span.burger__line
		ul.menu-mobile__nav-list.nav-list
				li.nav-list__item
					a.nav-list__link.js-scroll(href="#information") Что такое маркетплейс
				li.nav-list__item
					a.nav-list__link.js-scroll(href="#composition") Про обучение
				li.nav-list__item
					a.nav-list__link.js-scroll(href="#order") Как заказать
				li.nav-list__item
					a.nav-list__link.js-scroll(href="#questions") Для кого
				li.nav-list__item
					a.nav-list__link.js-scroll(href="#reviews") Отзывы
		.menu-mobile__bottom
			button.menu-mobile__btn.btn Записаться на курс