.container
	.header__wrapper
		h1.header__title Онлайн программа по&nbsp;Психосоматике:
			span «Шифр к телу»
		.header__label-wrap
			p.header__label.text-s Расшифруй свою болезнь!
		p.header__text.text-s Программа включает 10 основных уроков, домашнее задание к каждому из уроков и аудио практики:
		ul.header__list.list-content.text-s
			li.list-content__item.header__item
				span Как победить: 
				| гипертонию, язвенную болезнь, артрит, мигрень и&nbsp;многое другое
			li.list-content__item.header__item
				span Расшифруете, 
				| по каким моделям классифицируют психосоматические расстройства
			li.list-content__item.header__item
				span Разберетесь 
				| в личных проблемах и научитесь поддерживать близких и&nbsp;ваших деток
	.header__form-banner
		include form-banner