section.questions#questions
	.container
		h2.questions__title.title Какие из этих пунктов о вас?
		.questions__list
			.questions__item.question
				h4.question__title.text-s Вы давно хотели узнать, что такое психосоматика?
				p.question__text После наших уроков вы будете понимать причины возникновения тех или иных болезней
			.questions__item.question
				h4.question__title.text-s У вас есть проблемы со здоровьем?
				p.question__text Уроки помогут вам составить схему, по которой вы сможете ориентироваться - какие мысли и каким образом затрагивают ваши органы
			.questions__item.question
				h4.question__title.text-s Вы хотите, чтобы ваши близкие были здоровы?
				p.question__text Вы сможете им помочь, зная, как изменить мыслительные привычки и убеждения.
			.questions__item.question
				h4.question__title.text-s У моей семьи наследственные болезни, и я хочу понимать, почему?
				p.question__text Для этого мы предлагаем уроки проработки родовых программ.
			.questions__item.question
				h4.question__title.text-s Я тревожусь по поводу будущего (прошлого)
				p.question__text Психосоматика работает с тревожными и стрессовыми состояниями