section.reviews#reviews
	.container
		h2.reviews__title.title Отзывы
		.reviews__list.js-reviews-slider
			.review.reviews__item
				.review__content
					.review__photo-wrap
						picture
							source(srcset="img/review_1.webp", type="image/webp")
							img.review__photo(src="img/review_1.png", alt="Елена Великая")
						.review__wrap.review__wrap--mob
							p.review__name Елена Великая
							p.review__city Москва
					.review__info
						.review__wrap.review__wrap--desc
							p.review__name Елена Великая
							p.review__city Москва
						p.review__text.js-text-review Давно страдала от болей в спине. Врач поставил диагноз остеохондроз, выписал кучу дорогих анализов и лекарств. Спина болела, лекарства не действовали. Стала искать другие варианты и в поисках каких-то настроек наткнулась на курс по психосоматике. Моя тема - взваливать на себя слишком много! Благодаря Олегу и его команде я стала учиться разгружать себя, делать лучше, да меньше. Начала отказывать тем, кто сидел «на шее». Вот уже полгода как спина практически не болит! Спасибо вам огромное!
						p.review__btn.js-btn-review(data-text="Скрыть...") Читать весь отзыв...
			.review.reviews__item
				.review__content
					.review__photo-wrap
						picture
							source(srcset="img/review_2.webp", type="image/webp")
							img.review__photo(src="img/review_2.png", alt="Вячеслав Подгорный")
						.review__wrap.review__wrap--mob
							p.review__name Вячеслав Подгорный
							p.review__city Челябинск
					.review__info
						.review__wrap.review__wrap--desc
							p.review__name Вячеслав Подгорный
							p.review__city Челябинск
						p.review__text.js-text-review У меня пухли пальцы и суставы. Ни мази, ни таблетки не могли это остановить. И работа у меня вроде не сильно трудная, я водитель. С чего пухли - не понимал. И вот вдруг курс - заманили меня словами «Узнайте, как вылечиться без лекарств». Оказалось, что я давно забросил свое любимое хобби и мои руки как бы скучали по нему. Как только стал полчаса в день уделять деревяшкам, болезнь начала отступать. Надо же - все проблемы реально кроются в голове! Я и не думал, что такое вообще возможно!
						p.review__btn.js-btn-review(data-text="Скрыть...") Читать весь отзыв...
			.review.reviews__item
				.review__content
					.review__photo-wrap
						picture
							source(srcset="img/review_2.webp", type="image/webp")
							img.review__photo(src="img/review_2.png", alt="Вячеслав Подгорный")
						.review__wrap.review__wrap--mob
							p.review__name Вячеслав Подгорный
							p.review__city Челябинск
					.review__info
						.review__wrap.review__wrap--desc
							p.review__name Вячеслав Подгорный
							p.review__city Челябинск
						p.review__text.js-text-review У меня пухли пальцы и суставы. Ни мази, ни таблетки не могли это остановить. И работа у меня вроде не сильно трудная, я водитель. С чего пухли - не понимал. И вот вдруг курс - заманили меня словами «Узнайте, как вылечиться без лекарств». Оказалось, что я давно забросил свое любимое хобби и мои руки как бы скучали по нему. Как только стал полчаса в день уделять деревяшкам, болезнь начала отступать. Надо же - все проблемы реально кроются в голове! Я и не думал, что такое вообще возможно!
						p.review__btn.js-btn-review(data-text="Скрыть...") Читать весь отзыв...
			.review.reviews__item
				.review__content
					.review__photo-wrap
						picture
							source(srcset="img/review_2.webp", type="image/webp")
							img.review__photo(src="img/review_2.png", alt="Вячеслав Подгорный")
						.review__wrap.review__wrap--mob
							p.review__name Вячеслав Подгорный
							p.review__city Челябинск
					.review__info
						.review__wrap.review__wrap--desc
							p.review__name Вячеслав Подгорный
							p.review__city Челябинск
						p.review__text.js-text-review У меня пухли пальцы и суставы. Ни мази, ни таблетки не могли это остановить. И работа у меня вроде не сильно трудная, я водитель. С чего пухли - не понимал. И вот вдруг курс - заманили меня словами «Узнайте, как вылечиться без лекарств». Оказалось, что я давно забросил свое любимое хобби и мои руки как бы скучали по нему. Как только стал полчаса в день уделять деревяшкам, болезнь начала отступать. Надо же - все проблемы реально кроются в голове! Я и не думал, что такое вообще возможно!
						p.review__btn.js-btn-review(data-text="Скрыть...") Читать весь отзыв...
			.review.reviews__item
				.review__content
					.review__photo-wrap
						picture
							source(srcset="img/review_2.webp", type="image/webp")
							img.review__photo(src="img/review_2.png", alt="Вячеслав Подгорный")
						.review__wrap.review__wrap--mob
							p.review__name Вячеслав Подгорный
							p.review__city Челябинск
					.review__info
						.review__wrap.review__wrap--desc
							p.review__name Вячеслав Подгорный
							p.review__city Челябинск
						p.review__text.js-text-review У меня пухли пальцы и суставы. Ни мази, ни таблетки не могли это остановить. И работа у меня вроде не сильно трудная, я водитель. С чего пухли - не понимал. И вот вдруг курс - заманили меня словами «Узнайте, как вылечиться без лекарств». Оказалось, что я давно забросил свое любимое хобби и мои руки как бы скучали по нему. Как только стал полчаса в день уделять деревяшкам, болезнь начала отступать. Надо же - все проблемы реально кроются в голове! Я и не думал, что такое вообще возможно!
						p.review__btn.js-btn-review(data-text="Скрыть...") Читать весь отзыв...