.timer-block
	p.timer-block__text До конца акции осталось:
	.timer-block__wrap
		.timer-block__num.hours 00
		p.timer-block__dots :
		.timer-block__num.minutes 00
		p.timer-block__dots :
		.timer-block__num.seconds 00